.footer_section {
    background: #070707;
    background: var(--color-story);
    color: #e0ccbb;
    color: var(--color-sand);
    overflow: hidden;
    
    position:relative;
    height:100vh;
    width:100%;
}
.container {
    display: grid;

    padding: 0 8.3333333333vw;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    will-change:transform;
    z-index: 2;
}
.container > a {
    position: absolute !important;
    bottom: 5vw;
    right: 0;
}
.title > div {
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 16vw;
    font-size: var(--font-s-h1);
    letter-spacing: -.4vw;
    letter-spacing: var(--font-ls-h1);
    line-height: 16vw;
    line-height: var(--font-lh-h1);
}
.body  {
    color: hsla(28, 37%, 81%, .8);
    color: var(--color-sand-08);
    font-family: "BS-Medium";
    font-size: 1.6666666667vw;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-h4);
    line-height: 6.4vw;
    line-height: var(--font-lh-h4);
}
 .divider {
    background: hsla(28, 37%, 81%, .6);
    background: var(--color-sand-06);
    height: 1px;
}
@media (max-width: 601px) {
    .footer_section {
        height:86vh !important;
    }
    .container {
        margin:0 !important;
    }
    .address,.link {
        display:none !important;
    }
    .title {
        margin-top: 5rem!important;
        justify-content: center!important;
    }
    .body {
        font-size: 1rem !important;
        line-height: 130% !important;
    }
   
}
@media (min-width: 601px) {
    .footer_section {
        padding: 2.8888888889vw 0 2.8888888889vw  !important;
    }
    .container{
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
      
    }
    .title {
        grid-column: 1 / 6;
        grid-row: 1;

        padding-top: 10vh;
    }
    .body {
        grid-column: 1 / 6;
        grid-row: 2;

        display: flex;
        align-items: center;
    }
     .divider {
        grid-column: 1 / 13;
        margin: -0.1000006667vw  0;
        grid-row: 3;
    }
    .address {
        grid-column: 1 / 4;
        grid-row: 3;

        display: flex;
        flex-direction: column;
        padding-top: 1.111112vw;
      
    }
    .nav_footer {
        grid-column: 4 / 6;
        grid-row: 3;

        display: flex;
        flex-direction: column;

        padding-top: 1.111112vw;
    }
    .social {
        grid-column: 6 / 9;
        grid-row: 3;

        display: flex;
        flex-direction: column;

        padding-top: 1.111112vw;
    }
    .item a{
        line-height: 2.0833333333vw !important;
    
    }

    .link {
        grid-column: 11 / 13;
        grid-row: 3;

        
        padding-top: 1.111112vw;
     

    }
}
.link {
    color: hsla(28, 37%, 81%, .8);
  
}
.link > div:nth-child(3):after {
    background-color:  hsla(28, 37%, 81%, .8);;
}
.item a{
    color: hsla(28, 37%, 81%, .8);
    color: var(--color-sand-08);
    font-family: "BS-Medium";
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
    line-height: 8vw;

    width: fit-content;

    display: flex;
}
.item a::after {
    bottom: 3px !important;
    background-color: var(--color-sand-08) !important;
}
.item > a > span:nth-child(1) {
    width: 10px !important;
    height: 10px;
    margin: 0 .5rem 0 0;
    align-self: center;

    top: 50%!important;
    left: -10px!important;
    transform: translate(-50%, -50%)!important;
}
.link .circle {
    font-family: "BS-Medium";
    font-size: 4.2666666667vw;
    font-size: var(--font-s-cta);
    letter-spacing: 0;
    letter-spacing: var(--font-ls-cta);
    line-height: 4.2666666667vw;
    line-height: var(--font-lh-cta);
}

