
.faq_section .container {
    display:grid;
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 8.3333333333vw;
}
.faq_section .title {
    margin: 0 0 6.4vw;
}
.faq_section .title.is_normal .title_line{
    font-weight: 300;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 16vw;
    font-size: var(--font-s-h1);
    letter-spacing: -.4vw;
    letter-spacing: var(--font-ls-h1);
    line-height: 16vw;
    line-height: var(--font-lh-h1);
  
}


.faq_section .dif{
    grid-column: 4 / 11;
}
.faq_section .dif .item {
    padding-top:1.5vw;
}
.faq_section .dif .item:last-child {
    padding-bottom:1.5vw;
}
.faq_section .dif .item p {
    font-family: "BS-Medium";
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p-small);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p-small);
    line-height: 5.6vw;
    line-height: var(--font-lh-p-small);
}

.faq_section .dif .item > span:first-child p  {
    max-width: 50%;
}
.faq_section .dif .item {
    display:flex;
}
.faq_section .dif .item > span:first-child {
    width:50%;
}
.faq_section .dif .item > span:last-child {
    width:50%;
}
.faq_section .label {
    color: #0d0e13;
    color: var(--color-dark-grey);
    display: inline-flex;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    height: 7.7333333333vw;
    justify-self: flex-start;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    padding-left: 5.8666666667vw;
    position: relative;
}

.faq_section  .text {
    font-weight:600;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);

}

.faq_section .icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}
.faq_section .text {
    display: flex;
    position: relative;
    transform-origin: top left;
    z-index: 1;
}


@media (min-width: 601px) {
    .has-padding-bottom {
        padding-bottom: 10.4166666667vw;
    }
    .faq_section .title.is-normal {
        margin: 0 0 1.6666666667vw;
    }
    .faq_section  .title {
        grid-column: 4 / 13;
    }
    .faq_section .label {
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;
    }
    .faq_section .label {
        grid-column: 2 / 4;
    }
    .faq_section .body {
        grid-column: 4 / 8;
    }
    .faq_section .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
}