.footer_redirect {
    width: 100%;
    height:100vh;
    overflow: hidden;
    position: relative;
}
.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.info {
    position: absolute;
    color: aliceblue;
    z-index: 9;
    top:-7.2vw;
    left:15vw;
    will-change: transform,opacity;
}
.info h3 {
    font-family: "BD-Bold";
    font-family: var(--font-f-lausanne-500);

    font-size: var(--font-s-h2);
   
    letter-spacing: var(--font-ls-h2);
    line-height: var(--font-lh-h2);
    max-width: 20vw;
    
}
.info p {
    max-width: 20vw;
    font-family: "BS-Medium";
    margin-bottom:1rem;
    
}
.image {
    position: absolute;
    width: 20vw;
    aspect-ratio: 1/1.2;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    overflow: hidden;
    will-change: transform;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.ic {
    width: 50px;
    height: 50px;
}
.background {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
   
    overflow: hidden;
    will-change: transform;

    -webkit-filter: brightness(5%);
    filter: brightness(5%);
}
.background img {
    transform: scale(1.2);
}

@media (max-width:601px) {
    .image {
        display: none !important;
    }
    .background img{
        height: 100% !important;
        width: auto !important;
    }
    .info {
        width: 100%!important;
        left:8.3vw !important;
    }
    .info h3 {
        max-width: 100%!important;
        font-size: 11.7333333333vw;
   
        letter-spacing: .1266666667vw;
        line-height:11.7333333333vw;
    }
    .info p {
        max-width: 60%;
    }
}

.link_re_mobi {
    background: #000000cf;
    display: block;
    width: max-content;
    border: 1px solid gray;
    padding: .42rem 1rem;
    border-radius: 5px;
    color: hsla(0, 0%, 100%, .8);
    color: var(--color-white-08);
    font-family: "BS-Regular";
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
}