.btn_hover_underline {
   position: relative;
}

.iconBtnNavbar {
  position:absolute;
  left:-20px;
  top:calc(50% - 0.35vw);
  transform: translate(-50%,-50%);
  display:flex;
  width: 1.72vw;
  opacity: 1;
  align-items: center;



  will-change: transform,opacity;
 
}
.btn_hover_underline::after {
    content: '';
    position: absolute;
    width: var(--line-width,0%);
    height: 1px;
    bottom: -1px;
    left: var(--line-left,0%);
    background-color: #ffffff;
    will-change: transform;
  }
  @media (max-width:601px) {
    
  }

