.btn_hover_underline {
   position: relative;
   width: fit-content;
}
.btn_hover_underline {
  pointer-events: auto  !important;
}
.btn_hover_underline *{
  pointer-events: none;
}
.iconBtnNavbar {
  position:absolute;
  left:0;
  top:calc(50% - 0.42vw);
  transform: translate(-50%,-50%);
  display:flex;
  width: 1.72vw;
  opacity: 1;
  align-items: center;



  will-change: transform,opacity;
 
}
.active1 {
  transform: translate(32px, 0px)!important;
}
.active2 {
  left: 10px;

  opacity: 1 !important;
}
.label {
  will-change: transform;
}
.btn_hover_underline::after {
    content: '';
    position: absolute;
    width: var(--line-width,0%);
    height: 1px;
    bottom: -1px;
    left: var(--line-left,0%);
    background-color: #ffffff;
    will-change: transform;
  }
  @media (max-width:601px) {
    .iconBtnNavbar {
      width: 5vw !important;
    }
  }


  @media (max-width:601px) {
      .iconBtnNavbar {
        opacity: 0;
      }
  }
