.grid {
    width:100%;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    user-select: none;
    pointer-events: none;
    z-index: 9999;

}
.grid .wrapperGrid {
    position: absolute;
    padding: 0 var(--grid_margin_des);
  
    width:100%;
    height: 100%;
    top:0;
    left:0;
    display:grid;
    grid-template-columns: var(--grid_col_count);
    gap: var(--grid_gap);
   
}
.grid .wrapperGrid span {
 /*    background:rgba(255, 0, 0, 0.1); */
    
}

.padding_forGrid {
    padding: 0 var(--grid_margin_des);
}

.grid_12col_container {
    width: 100%;
    display: grid;
    padding: 0 var(--grid_margin_des);
    grid-template-columns: var(--grid_col_count);
    gap: var(--grid_gap);
}

.grid_12col_container_nomargin {
    width: 100%;
    display: grid;
    grid-template-columns: var(--grid_col_count);
    gap: var(--grid_gap);
}
.displayGrid {
    display: grid;
}
.grid_2row {
    grid-template-rows: repeat(2, auto);
}
.grid_3row {
    grid-template-rows: repeat(3, auto);
}

.grid_4row {
    grid-template-rows: repeat(4,auto);
}
.row1 {
    grid-row: 1;
}
.row2 {
    grid-row: 2;
}
.row3 {
    grid-row: 3;
}
.row4 {
    grid-row: 4;
}