.GridImage1 {
    height:100vh;
    display:flex;
}
.GridImage1 .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.GridImage1   .row {
    align-items: flex-end;
    display: inline-flex;
}
.GridImage1 .row:nth-child(1),
.GridImage1 .row:nth-child(2) {

    will-change:transform;
}
.GridImage1 .row:nth-child(2) {
    left:-500px;
}
.GridImage1 .row:nth-child(2) {
    align-items: flex-start;
}
.GridImage1  .row .media:first-child, .GridImage1  .row .media:nth-child(4) {
    width: 25.0666666667vw;
}
.GridImage1  .row .media:nth-child(2) {
    width: 58.4vw;
}
.GridImage1  .row .media:nth-child(3) {
    width: 32.8vw;
}


.GridImage1 .row:nth-child(2) .media:nth-child(2) {
    width: 32.8vw;
}
.GridImage1 .row:nth-child(2) .media:nth-child(3) {
    width: 58.4vw;
}
@media (min-width: 601px) {
    .GridImage1  .row:first-child {
        margin-bottom: 2.0833333333vw;
    }
    .GridImage1  .row .media {
        margin-right: 2.1527777778vw;
    }
    .GridImage1  .row .media:first-child, .GridImage1  .row .media:nth-child(4) {
        width: 19.3055555556vw;
    }
    .GridImage1  .row .media:nth-child(2) {
        width: 40.5555555556vw;
    }
    .GridImage1  .row .media:nth-child(3) {
        width: 26.3888888889vw;
    }

    .GridImage1 .row:nth-child(2) .media:nth-child(2) {
        width: 26.3888888889vw;
    }
    .GridImage1 .row:nth-child(2) .media:nth-child(3) {
        width: 40.5555555556vw;
    }
   
}