.section_title_blend  {
    position:relative;
    width:100%;
 
    overflow:hidden;
    z-index:5;
    display:flex;
    background: linear-gradient(180deg, rgba(13,14,19,1) 50%, rgba(255,255,255,1) 50%);
}

.title {
    position: absolute;
    will-change: tranform;
    top:25%;


    font-family: Lausanne-300;
    font-size: 25.6vw;
    letter-spacing: -1.2vw;
    line-height: 25.6vw;
    color: white;
    white-space: nowrap;
}

@media (min-width: 601px) { 
    .section_title_blend{
        margin-top: -2.4242424px;
        margin-bottom: -2.4242424px;
        height:50vw;
      
       
    }
   
     .warpper_title {

        position: absolute;
        height:  100%;
        width: 100%;
        mix-blend-mode: difference;
        transform-origin: center center;
   
        transform: rotate(-7.2deg);
     
    }
    .title { 
        position: absolute;
        will-change: transform;
    }
}

