.GridImageSlider {
    height:fit-content;

    background-color: white;
}
.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .row {
    align-items: flex-end;
    display: inline-flex;
}
.row:nth-child(1),
.row:nth-child(2) {

    will-change:transform;
}
.row:nth-child(2) {
    left:-500px;
}
.row:nth-child(2) {
    align-items: flex-start;
}
 .row .media:first-child,  .row .media:nth-child(4) {
    width: 25.0666666667vw;
}
 .row .media:nth-child(2) {
    width: 58.4vw;
}
 .row .media:nth-child(3) {
    width: 32.8vw;
}


.row:nth-child(2) .media:nth-child(2) {
    width: 32.8vw;
}
.row:nth-child(2) .media:nth-child(3) {
    width: 58.4vw;
}



.titleProject {
    padding: 15vw 0;
}

.nameProject {
    font-family: "BD-Medium";
    font-size: 3.2vw;
    width: fit-content;
    margin: 0 auto;
}

.infoProject {
    font-family: "BS-Medium";
    font-size: 1.2vw;
    width: fit-content;
    margin: 0 auto;
}











@media (min-width: 601px) {
     .row:first-child {
        margin-bottom: 2.0833333333vw;
    }
     .row .media {
        margin-right: 2.1527777778vw;
    }
     .row:nth-child(1) .media:first-child{
        width: 45.3055555556vw;
        aspect-ratio: 889/472;
    }

     .row:nth-child(1) .media:nth-child(2) {
        width: 27.5555555556vw;
        aspect-ratio: 87 / 128;
    }
     .row:nth-child(1) .media:nth-child(3) {
        width: 27.3888888889vw;
        aspect-ratio: 365/616;
    }
    
    .row:nth-child(1) .media:nth-child(4) {
        width: 19.3055555556vw;
    }
 

    .row:nth-child(2) .media:first-child{
        width: 32.3055555556vw;
        aspect-ratio: 538/633;
    }
     .row:nth-child(2) .media:nth-child(2) {
        width: 32.5555555556vw;
        aspect-ratio: 262/423;
    }
     .row:nth-child(2) .media:nth-child(3) {
        width: 32.3888888889vw;
        aspect-ratio: 529/738;
    }
    .row:nth-child(2) .media:nth-child(4) {
        width: 19.3055555556vw;
    }

  
   
}