.GridImageSlider {
    height:fit-content;

    background-color: white;
}
.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
  .row {
    align-items: flex-end;
    display: inline-flex;
    width: 150%;
}
.row:nth-child(1),
.row:nth-child(2) {

    will-change:transform;
}
.row:nth-child(2) {
    left:-500px;
}
.row:nth-child(2) {
    align-items: flex-start;
}
.row .media {
    overflow: hidden;
}
 .row .media:first-child {
    width: 35.0666666667vw;
}
 .row .media:nth-child(2) {
    width: 42.4vw;
}
 .row .media:nth-child(3) {
    width: 32.8vw;
}


.row:nth-child(2) .media:nth-child(2) {
    width: 36.8vw;
}
.row:nth-child(2) .media:nth-child(3) {
    width: 32.4vw;
}



.titleProject {
    padding: 15vw 0;
}

.nameProject {
    font-family: "BD-Medium";
    font-size: 3.2vw;
    width: fit-content;
    margin: 0 auto;
}

.infoProject {
    font-family: "BS-Medium";
    font-size: 1.2vw;
    width: fit-content;
    margin: 0 auto;
}


@media (max-width: 601px) {
    .GridImageSlider {
        height:100vh !important;
    }
    .row:first-child {
        margin-bottom: .5rem !important;
    }
     .row .media {
        margin-right: .5rem !important;
    }
    .nameProject {
        font-size: 1.3rem !important;
    }
    .infoProject {
        font-size: .8rem !important;
    }
    .row .media:nth-child(2) img{
        width: 100% !important;
        height: auto !important;
    }
    .row:nth-child(1) .media:first-child {
        
    }
}



.row:nth-child(1) .media:first-child{
   
    aspect-ratio: 729/472;
}

 .row:nth-child(1) .media:nth-child(2) {
    
    aspect-ratio: 522 / 768;
}
 .row:nth-child(1) .media:nth-child(3) {
   
    aspect-ratio: 396/616;
}

.row:nth-child(2) .media:first-child{
  
    aspect-ratio: 513/621;
}
 .row:nth-child(2) .media:nth-child(2) {
 
    aspect-ratio: 524/846;
}
 .row:nth-child(2) .media:nth-child(3) {
   
    aspect-ratio: 653/732;
}

@media (min-width: 601px) {
     .row:first-child {
        margin-bottom: 2.42vw;
    }
     .row .media {
        margin-right: 2.42vw;
    }
     .row:nth-child(1) .media:first-child{
        width: 45.3055555556vw;
       
    }

     .row:nth-child(1) .media:nth-child(2) {
        width: 27.5555555556vw;
      
    }
     .row:nth-child(1) .media:nth-child(3) {
        width: 36.388889vw;
       
    }
   

    .row:nth-child(2) .media:first-child{
        width: 27.3055555556vw;
       
    }
     .row:nth-child(2) .media:nth-child(2) {
        width: 42.5555555556vw;
   
    }
     .row:nth-child(2) .media:nth-child(3) {
        width: 37.3888888889vw;
      
    }
 
  
   
}