.work_page {
    align-items: center;
    bottom: 0;
    color:#fff;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 2;

    height:100vh;
}
.work_page  .subtitle .iii{
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
    opacity: .8;
}
.work_page .heading {
    left: 16.1805555556vw;
    position: absolute;
    z-index: 999;

    /* for slider */
    width:20%;
}
.work_page .title span{
    font-weight:300;
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
    font-size: 7.7333333333vw;
    font-size: var(--font-s-h2);
    letter-spacing: -.2666666667vw;
    letter-spacing: var(--font-ls-h2);
    line-height: 9.0666666667vw;
    line-height: var(--font-lh-h2);
}
.work_page .indicator {
    bottom: 3.6805555556vw;
    display: flex;
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p-small);
    height: 1.3888888889vw;
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p-small);
    line-height: 5.6vw;
    line-height: var(--font-lh-p-small);
    line-height: 1.7361111111vw;
    position: absolute;
    right: 3.4722222222vw;
    z-index: 9;
}
.work_page .total {
    color: hsla(0, 0%, 100%, .6);
    color: var(--color-white-06);
}
.work_page .thumbnails {
    height: 27.5vw;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 22.0833333333vw;
    z-index:10;

    will-change:transform,opacity;
}
.work_page .thumbnail,.work_page  .thumbnail_image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.work_page .thumbnail {
    overflow: hidden;
    will-change:transform;
    opacity:0;
    
}
.work_page .thumbnail:first-child {
    opacity:1;
}
.work_page .projects {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index:1;
  /*   pointer-events: none;
    user-select: none; */

}
.work_page .projects button {
    border:none;
    outline:none;
}
.work_page .project_image {
    height: 124.5833333333vw;

    transform: scale(1.1);
    user-select: none;
    pointer-events: none;

}
.work_page .project,.work_page  .project_wrap {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    will-change:transform;
}


@media (max-width: 620px) {
    .work_page .project_wrap img{
        width: auto !important;
        height: 100% !important;
        transform: translateX(-50%) !important;
        left: 50% !important;
        position: relative !important;
    }
    .work_page .thumbnails {
        height: 70vw!important;
        width: 50vw!important;
    }
    .work_page .heading {
        width:50% !important;
        left: 8vw!important;
    top: 50vh!important;
    transform: translateY(-50%)!important;
    }
}
@media (min-width: 601px) {
    .work_page .current {
        will-change: transform;
    }
}




/* config for slider effect */
.work_page  .title {
    position:relative;
    width:100%;
    height: calc(var(--font-s-h2) * 3.5);/*  // 3 dòng */
}
.work_page  .title > div{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    position:absolute;
 
}

.work_page .subtitle {
    position:relative;
    width:100%;
    overflow:hidden;
    height: calc(var(--font-s-p) * 4.2);/*  // max 3 min 1 =>  x 3.2*/
}
.work_page  .title > div,
.work_page  .subtitle > div {

  
}
.work_page  .subtitle > div {
    position: absolute;
    width: 100%;
    height: 100%;
}
.work_page  .title > div.active,
.work_page  .subtitle > div.active {
   
}
/* config từng item cụ thể , not clean */
.work_page .title .ii {
    width:100%;
    position:relative;
    overflow:hidden;
    height:33%; /* lấy 3 row */
}
.work_page .title .iii {
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
  
    
    will-change:tranform,opacity;
}
.work_page .subtitle .ii {
    width:100%;
    position:relative;
    display:block;
    overflow:hidden;
    height: calc(var(--font-s-p) * 1.5);
}
.work_page .subtitle .iii {
    position:absolute;
    width:100%;
    height: calc(var(--font-s-p) * 1.5);
    opacity:0;

    will-change:tranform,opacity;
  
}
.work_page .projects button:first-child {
    z-index: 5;
}
.work_page .thumbnails .thumbnail:first-child {
    z-index: 7;
}