.button_menu {
    color: #0d0e13;
    color: var(--white);
    display: flex;

    padding: 8vw;
    position: fixed;
    right: 0;
    top: 0;
    transition: color .5s;
    z-index: 999;
    align-items: center;
    background-color:unset !important;
    outline:none!important;
    border: none!important;
}
.button_menu .lable {
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p-small);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p-small);
    line-height: 5.6vw;
    line-height: var(--font-lh-p-small);
}
.button_menu .icon {
    align-items: center;
    display: flex;
    height: 4.8vw;
    justify-content: center;
    margin-left: 3.2vw;
    position: relative;
    width: 4.8vw;
    transform:rotate(45deg);
}
@media (min-width: 601px) {
   .button_menu {
        line-height: 1.3888888889vw;
        padding: 3.4722222222vw;
    }
    .button_menu .icon {
        height: 1.25vw;
        margin-left: .8333333333vw;
        width: 1.25vw;
        will-change: transform;
    }
}