.POST_layout1 {
    height:150vw;
}
.POST_layout1 .container {
    display:grid;
}

/* text */
.POST_layout1 .text {
    grid-column: 1 / 5;
}
.POST_layout1 .label {
    color: #0d0e13;
    color: var(--color-dark-grey);
    display: inline-flex;
    font-family: Lausanne-300;
    font-family: var(--font-f-Lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    height: 7.7333333333vw;
    justify-self: flex-start;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    padding-left: 5.8666666667vw;
    position: relative;
}
.POST_layout1 .icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}
.POST_layout1 .icon .text {
    display: flex;
    position: relative;
    transform-origin: top left;
    z-index: 1;
}

.POST_layout1 .body {
    margin-top: 6.1333333333vw;
}
.POST_layout1 .body p {
    color: rgba(13, 14, 19, .6);
    color: var(--color-dark-grey-06);
}
/* media */

.POST_layout1 .media:first-child {
    grid-column: 4 / 11;
}
.POST_layout1 .media:nth-child(2) {
    grid-column: 1 / 9;
    margin: 10.6666666667vw 0 16vw -8.2666666667vw;
}
.POST_layout1 .media:nth-child(4) {
    grid-column: 1 / 8;
    margin: 14.1333333333vw 0 0;
}
.POST_layout1 .media:nth-child(5) {
    grid-column: 6 / 11;
    margin: -21.3333333333vw -8.2666666667vw 0;
    z-index: 1;
}
.POST_layout1 .media:nth-child(6) {
    grid-column: 2 / 8;
    margin-top: 5.9722222222vw;
}
.POST_layout1 .media:nth-child(7) {
    grid-column: 7 / 9;
    margin-top: -9.0972222222vw;
}
@media (min-width: 601px) {
    .POST_layout1 .container {
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 8.3333333333vw;
    }
    /* text */
    .POST_layout1 .label {
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;
    }
    .POST_layout1 .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
    .POST_layout1 .body {
        margin-top: 2.9861111111vw;
    }
    .POST_layout1 .body p {
        font-family: "Lausanne-300";
        font-family: var(--font-f-lausanne-300);
        font-size: 3.7333333333vw;
        font-size: var(--font-s-p-small);
        letter-spacing: .0266666667vw;
        letter-spacing: var(--font-ls-p-small);
        line-height: 5.6vw;
        line-height: var(--font-lh-p-small);
    }
/* media */
.POST_layout1 .media:first-child {
        grid-column: 4 / 8;
    }
    .POST_layout1 .media:nth-child(2) {
        grid-column: 1 / 6;
        margin: 9.2361111111vw 0 13.8888888889vw -8.3333333333vw;
    }
    .POST_layout1 .media:nth-child(4) {
        grid-column: 7 / 11;
        margin: -27.7777777778vw 0 0;
    }
    .POST_layout1 .media:nth-child(5) {
        grid-column: 9 / 13;
        margin: -8.6805555556vw 0 0;
    }
}