

.project_text .container {
    display:grid;
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
}
.project_text .title {
    margin: 0 0 6.4vw;
}



.project_text .label {
    color: #0d0e13;
    color: var(--color-dark-grey);
    display: inline-flex;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    height: 7.7333333333vw;
    justify-self: flex-start;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    padding-left: 5.8666666667vw;
    position: relative;
}

.project_text .label > .text {
    font-weight:600;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);

}

.project_text .icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}
.project_text .label .text {
    display: flex;
    position: relative;
    transform-origin: top left;
    z-index: 1;
}
.project_text .body {
    color: rgba(13, 14, 19, .6);
    color: var(--color-dark-grey-06);
}
.project_text .body p {
    display: flex;
    flex-direction: column;
}
/* IMPORTANT */
.project_text .label {
    opacity:0;
}
/* IMPORTANT */



/* IMPORTANT */
.project_text .title > span {
    position:relative;
    height:var(--font-lh-h2);
    overflow:hidden;
}
.project_text .title .title_line{
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
    font-size: 7.7333333333vw;
    font-size: var(--font-s-h2);
    letter-spacing: -.2666666667vw;
    letter-spacing: var(--font-ls-h2);
    line-height: 9.0666666667vw;
    line-height: var(--font-lh-h2);

    position:absolute;
    will-change:tranform;
}
.project_text h2 > span > span:nth-child(n) {
    transform:translateY(9.0666666667vw);
}


/* IMPORTANT */

/* IMPORTANT */
.project_text .body p > span {
    position: relative;
    height: var(--font-lh-p-small);
    overflow:hidden;
}
.project_text .body p > span > span {
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p-small);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p-small);
    line-height: 5.6vw;
    line-height: var(--font-lh-p-small);

    position:absolute;
    will-change:tranform;
}
.project_text .body p > span > span:nth-child(n) {
    transform:translateY(60px);
}
/* IMPORTANT */
@media (min-width: 601px) {
    .has-padding-bottom {
        padding-bottom: 10.4166666667vw;
    }
    .project_text .title.is-normal {
        margin: 0 0 1.6666666667vw;
    }
    .project_text  .title {
        grid-column: 4 / 13;
    }
    .project_text .label {
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;
    }
    .project_text .label {
        grid-column: 2 / 4;
    }
    .project_text .body {
        grid-column: 4 / 9;
    }
    .project_text .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
}