.POST_layout3 {
    height:142vw;
}
.POST_layout3 .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    position: relative;
 
}
.POST_layout3 .container > .text {
    grid-column: 1 / 10;
}
.POST_layout3 .label {

    display: inline-flex;
    color: #0d0e13;
    color: var(--color-dark-grey);

    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    height: 7.7333333333vw;
    justify-self: flex-start;
    
    padding-left: 5.8666666667vw;
    position: relative;
}

.POST_layout3 .icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}
.POST_layout3 .label .text {
    display: flex;
    position: relative;
    transform-origin: top left;
    z-index: 1;
}
.POST_layout3 .body p {
    color: rgba(13, 14, 19, .6);
    color: var(--color-dark-grey-06);
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
    margin: 6.1333333333vw 0 14.1333333333vw;
}
.POST_layout3 .left {
    grid-column: 1 / 6;
    margin-left: -33.0666666667vw;
}
.POST_layout3 .left {
    grid-column: 1 / 6;
    margin-left: -40.5555555556vw;
    will-change: transform;
}
.POST_layout3 .media:last-child {
    margin: 0;
}
.POST_layout3 .media {
    margin-bottom: 10.6666666667vw;
}
.right {
    grid-column: 7 / 11;
    margin-right: -41.3333333333vw;
}
.align-text-right .right .media:first-child {
    margin-top: 24vw;
}
.POST_layout3 .media {
    margin-bottom: 10.6666666667vw;
}
.POST_layout3 .media:last-child {
    margin: 0;
}
@media (min-width: 601px) {
    .POST_layout3 .container {
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 8.3333333333vw;
    }
    .POST_layout3 .text {
        left: 42.7777777778vw;
        position: absolute;
        width: 26.3888888889vw;
    }
    .POST_layout3 .label {
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;
    }
    .POST_layout3 .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
    .POST_layout3 .body {
        margin: 2.9861111111vw 0 0;
    }
    .POST_layout3 .media {
        margin-bottom: 10.4166666667vw;
    }
    .POST_layout3 .right {
        grid-column: 7 / 13;
        margin-right: -19.1666666667vw;
        will-change: transform;
    }
    .align-text-right .right .media:first-child {
        margin-top: 34.7222222222vw;
    }
    .POST_layout3 .media {
        margin-bottom: 10.4166666667vw;
    }
}