.aboutus_advantage {
    position:relative;
    background: #0d0e13;
    background: var(--color-dark-grey);
    color: #e4e0db;
    color: var(--color-light-grey);
  
    padding: 21.3333333333vw 0 ;
}

.aboutus_advantage .label {
    color: #0d0e13;
    color: var(--color-dark-grey);
    display: inline-flex;
    font-family: Lausanne-400;
    font-family: var(--font-f-lausanne-400);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    height: 7.7333333333vw;
    justify-self: flex-start;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    padding-left: 5.8666666667vw;
    position: relative;
}
.aboutus_advantage .icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}
.aboutus_advantage .intro {
    margin: 12vw 0 18.6666666667vw;
}
.aboutus_advantage .intro p {
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 6.4vw;
    font-size: var(--font-s-h3);
    letter-spacing: -.1333333333vw;
    letter-spacing: var(--font-ls-h3);
    line-height: 8vw;
    line-height: var(--font-lh-h3);
}
.aboutus_advantage .item {
    position: relative;
}

/* list item */
.aboutus_advantage .index {
    color: hsla(33, 14%, 88%, .8);
    color: var(--color-light-grey-08);
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
}
.aboutus_advantage .subtitle {
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 7.7333333333vw;
    font-size: var(--font-s-h2);
    letter-spacing: -.2666666667vw;
    letter-spacing: var(--font-ls-h2);
    line-height: 9.0666666667vw;
    line-height: var(--font-lh-h2);
    margin-bottom: 6.1333333333vw;
}
.aboutus_advantage .body p {
    color: hsla(33, 14%, 88%, .8);
    color: var(--color-light-grey-08);
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
    margin-bottom: 8vw;
}
.aboutus_advantage .body p:last-child {
    margin: 0;
}
@media (min-width: 601px) {
    .aboutus_advantage .container {
        margin: 0 8.3333333333vw;
    }
     .aboutus_advantage {
        padding: 13.8888888889vw 0 0 0 ; 
    }
     .aboutus_advantage .label {
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;
    }
     .aboutus_advantage .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
     .aboutus_advantage .intro {
        margin: 4.8611111111vw 0 11.4583333333vw;
        width: 40.625vw;
    }
   



    /* item list */
     .aboutus_advantage .index {
        left: -3.125vw;
        position: absolute;
        top: 10.9722222222vw;
    }
     .aboutus_advantage .items {
        display: grid;
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
    }
     .aboutus_advantage .item:first-child {
        grid-column: 3 / 7;
    }
     .aboutus_advantage .item:nth-child(2) {
        grid-column: 8 / 12;
        margin-top: 10.4166666667vw;
    }
     .aboutus_advantage .item:nth-child(3) {
        grid-column: 2 / 5;
    }
     .aboutus_advantage .item:nth-child(4) {
        grid-column: 7 / 10;
        margin-top: 10.4166666667vw;
    }
     .aboutus_advantage .subtitle {
        margin-bottom: 1.7361111111vw;
    }
     .aboutus_advantage .body {
        max-width: 19.2361111111vw;
    }
}