.aboutus_us  {
    
}
.aboutus_us .label {
    color: #0d0e13;
    color: var(--color-dark-grey);
    display: inline-flex;
    font-family: Lausanne-400;
    font-family: var(--font-f-lausanne-400);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    height: 7.7333333333vw;
    justify-self: flex-start;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    padding-left: 5.8666666667vw;
    position: relative;
}
.aboutus_us .icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}
.aboutus_us .title {
    margin: 10.6666666667vw 0 6.9333333333vw;
}
.aboutus_us .title .title_line {
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 16vw;
    font-size: var(--font-s-h1);
    letter-spacing: -.4vw;
    letter-spacing: var(--font-ls-h1);
    line-height: 16vw;
    line-height: var(--font-lh-h1);
   
}
.aboutus_us .title .title-mask {
    height: 15.2vw;
    line-height: 12vw;
}
.aboutus_us .body p {
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 4.8vw;
    font-size: var(--font-s-h4);
    letter-spacing: 0;
    letter-spacing: var(--font-ls-h4);
    line-height: 6.4vw;
    line-height: var(--font-lh-h4);
}
.aboutus_us .image {
    height: auto;
    overflow: hidden;
}
.aboutus_us .quote {
    color: hsla(33, 14%, 88%, .8);
    color: var(--color-light-grey-08);
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.2vw;
    font-size: var(--font-s-subtitle);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-subtitle);
    line-height: 4.2666666667vw;
    line-height: var(--font-lh-subtitle);
    position: relative;
}
@media (min-width: 601px) {
.aboutus_us  {
        margin-top: -2px;
        padding: 0 0 13.8888888889vw;
    }
.aboutus_us .container {
        display: grid;
        margin: 0 8.3333333333vw;
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
    }
.aboutus_us .label {
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;
        position: absolute;
        top: 36.8055555556vw;
    }
.aboutus_us .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
.aboutus_us .title {
        grid-column: 4 / 13;
    }
    .aboutus_us .title .title_line {
        font-size:8.6vw !important;
    }
.aboutus_us .title .title-mask {
        height: 10.0694444444vw;
        line-height: 7.6388888889vw;
    }
.aboutus_us .body {
        grid-column: 4 / 8;
    }
.aboutus_us .images {
        display: flex;
        grid-column: 2 / 12;
    }
.aboutus_us .image:first-child {
        height: 22.2222222222vw;
        margin-top: 21.5972222222vw;
        width: 33.3333333333vw;
    }
.aboutus_us .image:nth-child(2) {
        height: 28.6111111111vw;
        margin-left: auto;
        width: 19.1666666667vw;
    }
.aboutus_us .quote {
        border-top: 1px solid hsla(0, 0%, 100%, .2);
        border-top: 1px solid var(--color-white-02);
        grid-column: 9 / 12;
        margin-top: -12.5vw;
        padding-top: 1.3888888889vw;
    }
}