.IntroWorkPage {
    background: #0d0e13;
    background: var(--color-dark-grey);
    color: #fff;
    color: var(--color-white);
    height: 175vh;
    height: calc(var(--vh, 1vh)* 175);
    pointer-events: none;
    position: relative;
}
.IntroWorkPage .container {
   /*  margin: 0 8vw; */
    position: relative;
    z-index: 1;
}
.IntroWorkPage .text-1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh, 1vh)* 100);
  
}
.IntroWorkPage .text-2 {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(10, 1fr);
}
.IntroWorkPage .title  {
    margin: auto 0 5.0666666667vw;
    width: 100%;
}
.IntroWorkPage .title span{
    font-weight:300;
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
    font-size: 16vw;
    font-size: var(--font-s-h1);
    letter-spacing: -.4vw;
    letter-spacing: var(--font-ls-h1);
    line-height: 16vw;
    line-height: var(--font-lh-h1);
  
}
.IntroWorkPage .background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top:0;
}
.IntroWorkPage .subtitle {
    opacity: .8;
}
.IntroWorkPage .intro {
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
    font-size: 6.4vw;
    font-size: var(--font-s-h3);
    letter-spacing: -.1333333333vw;
    letter-spacing: var(--font-ls-h3);
    line-height: 8vw;
    line-height: var(--font-lh-h3);
}
.IntroWorkPage .info *{
    color: hsla(0, 0%, 100%, .8);
    color: var(--color-white-08);
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
}
.IntroWorkPage .client {
    display: flex;
    flex-direction: column;
}
.IntroWorkPage .date {
    display: flex;
    flex-direction: column;
}
.IntroWorkPage .client:before {
    content: "Client";
    color: #fff;
   
    color: var(--color-white);
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
}
.IntroWorkPage .services:before {
    content: "Services";
    color: #fff;
    color: var(--color-white);
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-300);
}
.IntroWorkPage .industries:before {
    content: "Industries";
    color: #fff;
    color: var(--color-white);
    font-family: "Lausanne-300";
    font-family: var(--font-f-lausanne-500);
}
.IntroWorkPage .date:before {
    content: "Date";
    color: #fff;
    color: var(--color-white);
    font-family: "Lausanne-500";
    font-family: var(--font-f-lausanne-500);
}
.IntroWorkPage .subtitle  {
    width:100%;
    height:var(--font-lh-p-small);
}
.IntroWorkPage .subtitle .text-line{
        position:relative;
        height:var(--font-lh-p-small);
        width:100%;
        overflow:hidden;
}

@media (max-width: 601px) {
    .IntroWorkPage .intro {
        display:none !important;

    }
    .IntroWorkPage .text-1 {
        height:fit-content !important;
        margin-top: 42vh!important;
    }
    .IntroWorkPage {
        height:100vh !important;
    }
    .IntroWorkPage .background > img{
        width: auto !important;
        height: 100% !important;
        transform: translateX(-50%) !important;
        left: 50% !important;
        position: relative !important;
    }
    .IntroWorkPage .text-2 .info {
        display: flex!important;
    justify-content: space-between!important;
    grid-column: 1 / 11!important;
    }
}
@media (min-width: 601px) {
    .IntroWorkPage  {
        height: 124.5138888889vw !important;
        overflow: hidden;
    }
    .IntroWorkPage .background {
        pointer-events: all;
        top: 0;
    }
    .IntroWorkPage .container {
        margin: 0 8.3333333333vw;
    }
    .IntroWorkPage .text-1 {
        align-items: flex-start;
        max-height: 65vw;
        padding-bottom: 4.1666666667vw;
    }
    .IntroWorkPage .text-2 {
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
    }
    .IntroWorkPage .title {
        margin-bottom: 0;
    }
  
    .IntroWorkPage .subtitle .text-line span{
        font-family: "Lausanne-300";
        font-family: var(--font-f-lausanne-300);
        font-size: 3.7333333333vw;
        font-size: var(--font-s-p-small);
        letter-spacing: .0266666667vw;
        letter-spacing: var(--font-ls-p-small);
        line-height: 5.6vw;
        line-height: var(--font-lh-p-small);
    }
    .IntroWorkPage .intro {
        grid-column: 1 / 7;
        margin: 9.375vw 0 10.4861111111vw;
    }
    .IntroWorkPage .info {
        display: grid;
        grid-column: 1 / 13;
        grid-template-columns: repeat(10, 1fr);
        line-height: 2.2222222222vw;

        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
    }
    .IntroWorkPage .client {
        grid-column: 1 / 3;
    }
    .IntroWorkPage .services {
        grid-column: 3 / 5;
    }
    .IntroWorkPage .industries {
        grid-column: 5 / 7;
    }
    .IntroWorkPage .date {
        grid-column: 7 / 9;
    }
    
}


/*  animation */
.IntroWorkPage .title .ii {
    position:relative;
    height: var(--font-s-h1);
    overflow:hidden;
}
.IntroWorkPage .title .iii ,
.IntroWorkPage .subtitle .iii {
    position:absolute;
    top:0;
    left:0;
    will-change:tranform;
    transform: translateY(100%);
}