.IntroWorkPage{
    background: #0d0e13;
    background: var(--color-dark-grey);
    color: #fff;
    color: var(--color-white);
   /*  height: 175vh;
    height: calc(var(--vh, 1vh)* 175); */
    pointer-events: none;
    position: relative;
    width: 100%;


}


 .container {
   /*  margin: 0 8vw; */
    position: relative;
    z-index: 1;
}
 .text_1 {
    display: flex;
    flex-direction: column;
   
    padding-top: 65vh;
  
}
 .text_2 {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(10, 1fr);
}
 .title  {
    margin: auto 0 5.0666666667vw;
    width: 100%;
}
 .title > span{
   
    font-family: "BD-Medium";
    font-size:  10.2222vw;
    letter-spacing: .4vw;
    line-height: 110%;
  
}
 .background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top:0;
    pointer-events: none;
    user-select: none;

    background-size: 100% auto;
    background-position-y: var(--bg-y,0%);
    filter: brightness(var(--bright,100%));
    will-change: transform,filter;
}

 .subtitle {
    opacity: .8;
}
 .intro {
    font-family: "BS-Regular";
    font-size: 6.4vw;
    font-size: var(--font-s-h3);
    letter-spacing: -.1333333333vw;
    letter-spacing: var(--font-ls-h3);
    line-height: 8vw;
    line-height: var(--font-lh-h3);
}
 .info *{
    color: hsla(0, 0%, 100%, .8);
    color: var(--color-white-08);
    font-family: "BS-Regular";
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
}
 .client {
    display: flex;
    flex-direction: column;
}
 .date {
    display: flex;
    flex-direction: column;
}
 .client:before {
    content: "Challenge";
    color: #fff;
   
    color: var(--color-white);
    font-family: "BS-Regular";
}
 .services:before {
    content: "Role";
    color: #fff;
    color: var(--color-white);
    font-family: "BS-Regular";
}
 .industries:before {
    content: "Client";
    color: #fff;
    color: var(--color-white);
    font-family: "BS-Regular";
}
 .date:before {
    content: "Date & Duration";
    color: #fff;
    color: var(--color-white);
 font-family: "BS-Regular";
}
 .subtitle  {
    width:100%;
    height:var(--font-lh-p-small);
}
 .subtitle .text_line{
        position:relative;
        height:var(--font-lh-p-small);
        width:100%;
        overflow:hidden;
}

@media (max-width: 601px) {

    .container {
         margin: 0 8vw;
     }
     .intro {
       
       grid-column: 1 / 11 !important;
    }
     .text_1 {
        height:fit-content !important;
        padding-top: 50vh !important;
    }
     .IntroWorkPage {
        height:110vh !important;
    }
     .background > img{
        width: auto !important;
        height: 100% !important;
       
        position: relative !important;
    }
     .text_2 .info {
        
        justify-content: space-between!important;
        grid-column: 1 / 11!important;
    }
    .background {
       
      
        background-position-x: 50%!important;
        background-size: auto 100% !important;
    }
    .info > * {
        margin-top:1rem;
    }

    .title > span{
   
        font-size:  14.2222vw !important;
      
    }
    .ii {
        height:14.2222vw !important;
    }
}
@media (min-width: 601px) {
    .IntroWorkPage{
        /* height: 134.2138888889vw !important; */
        
        aspect-ratio: 16/18;
        overflow: hidden;
    }
     .background {
        pointer-events: all;
        top: 0;
    }
     .container {
        margin: 0 8.3333333333vw;
    }
     .text_1 {
        align-items: flex-start;
      
        padding-bottom: 4.1666666667vw;
    }
     .text_2 {
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
    }
     .title {
        margin-bottom: 0;

        display: flex;
        flex-direction: column;
    }
  
     .subtitle .text_line > .iii{
        font-family: "Lausanne-300";
        font-family: var(--font-f-lausanne-300);
        font-size: 3.7333333333vw;
        font-size: var(--font-s-p-small);
        letter-spacing: .0266666667vw;
        letter-spacing: var(--font-ls-p-small);
        line-height: 5.6vw;
        line-height: var(--font-lh-p-small);
    }
     .intro {
        grid-column: 1 / 7;
        margin: 0.375vw 0 10.4861111111vw;
    }
     .info {
        display: grid;
        grid-column: 1 / 13;
        grid-template-columns: repeat(10, 1fr);


        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
    }
     .client {
        grid-column: 1 / 3;
    }
     .services {
        grid-column: 4 / 6;
    }
     .industries {
        grid-column: 7 / 9;
    }
     .date {
        grid-column: 10 / 12;
    }
    
}


/*  animation */
.ii {
    position:relative;
    height: 11.2222vw;
    overflow:hidden;
    display: block;
}
.iii ,
.iii {
    position:absolute;
    top:0;
    left:0;
    will-change:tranform;
    transform: translateY(110%);
}