.servcies_section {
    color: #0d0e13;
    color: var(--color-dark-grey);
    padding: 21.3333333333vw 0;

    height:555vw;
    
}
.servcies_section .text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}


.servcies_section .lable {
    font-weight:300;
    color: #0d0e13;
    color: var(--color-dark-grey);
    display: inline-flex;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    height: 7.7333333333vw;
    justify-self: flex-start;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    padding-left: 5.8666666667vw;
    position: relative;
}

.servcies_section .title {
    font-weight:300;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 16vw;
    font-size: var(--font-s-h1);
    letter-spacing: -.4vw;
    letter-spacing: var(--font-ls-h1);
    line-height: 16vw;
    line-height: var(--font-lh-h1);
    margin: 5.3333333333vw 0 6.6666666667vw;
}

.servcies_section .body p{
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 4.8vw;
    font-size: var(--font-s-h4);
    letter-spacing: 0;
    letter-spacing: var(--font-ls-h4);
    line-height: 6.4vw;
    line-height: var(--font-lh-h4);
}

.servcies_section .icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}

@media (max-width: 601px) {
  
    .servcies_section .services {
        margin-top:8vw !important;
    }
    .servcies_section .service {
        margin-bottom:8vw !important;
    }
}

@media (min-width: 601px) {
    .servcies_section{
            height:189vw;
        }
    .servcies_section {
     
        padding: 14.3055555556vw 0;
    }
    .servcies_section .container {
        margin: 0 8.3333333333vw;
    }
    .servcies_section .lable {
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;

        margin: 0 0 2.7777777778vw 57.0138888889vw;
        order: 2;
    }

    .servcies_section .title {
        font-size: 25.6vw;
        font-size: var(--font-s-h0);
        letter-spacing: -1.2vw;
        letter-spacing: var(--font-ls-h0);
        line-height: 25.6vw;
        line-height: var(--font-lh-h0);
        margin: 0 0 6.9444444444vw 6.1805555556vw;
        order: 1;
    }
    .servcies_section .body {
        margin-left: 56.9444444444vw;
        order: 3;
        width: 25.6944444444vw;
    }
    .servcies_section .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }


    .servcies_section .services {
        display: grid;
        margin: -11.8vw 0 0;

        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
    }
    .servcies_section .service:first-child {
        grid-column: 2 / 8;
    }
    .servcies_section .service:first-child .block {
        height: 50.625vw;
    }
    .servcies_section .service:nth-child(2) {
        grid-column: 9 / 13;
        margin-top: 27.0833333333vw;

       
    }
    .servcies_section .service:nth-child(2) > div {
        aspect-ratio: 65 / 81;
    }
    .servcies_section .service:nth-child(3) {
        grid-column: 6 / 11;
        margin-top: 11.5972222222vw;
    }
    .servcies_section .service:nth-child(4) {
        grid-column: 2 / 5;
        margin-top: -10.0694444444vw;
    }
}
.servcies_section .services{
    padding: 0 8.3333333333vw;
}
.servcies_section .service {
    display: flex;
    flex-direction: column;
}
.servcies_section .block {
    overflow: hidden;
    position: relative;
}
.servcies_section .info {
    color: rgba(13, 14, 19, .6);
    color: var(--color-dark-grey-06);
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p-small);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p-small);
    line-height: 5.6vw;
    line-height: var(--font-lh-p-small);
    overflow: hidden;
}

