.hero_section {
    
    /* height: 136.6666666667vw; */
    height:fit-content;
    padding-bottom: 25vh;
    overflow: hidden;
    
   
}
.hero_section * {
    color: #fff !important;
    color: var(--color-white)!important;
    
    pointer-events: none;
}
.background {
    bottom: 0;
    left: 0;
    overflow: hidden;
  
    user-select: none;
    position: absolute;
    right: 0;
    z-index:1;
    top:0;



    background-size: 110% auto;
    background-position-y: var(--bg-y,0%);
    filter: brightness(var(--bright,100%));
    will-change: transform,filter;
}

 .intro,.title {
    display: flex;
    flex-direction: column;
}
 .intro {
    font-family: BS-Regular;
    font-family: var(--font-f-para-300);
    position: relative;

}

 .intro > span {
    overflow: hidden;
  
}
 .intro .ip {

    display: inline-block;
    transform: translateY(110%) rotateZ(5deg);
    transform-origin: left center;
    opacity: 0;
    will-change: transform,opacity;
 
 
   
}
 .title {

    display: flex;
    flex-direction: column;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 16vw;
    font-size: var(--font-s-h1);
    grid-column: 1 / 13;
    letter-spacing: -.4vw;
    letter-spacing: var(--font-ls-h1);
    line-height: 16vw;
    line-height: var(--font-lh-h1);
    margin: 6.6666666667vw 0;
    transform: translateX(-1.0666666667vw);
}
 .title > span {
    overflow: hidden;
  
}
 .title .tp {

    display: inline-block;
    transform: translateY(120%) rotateZ(15deg);
    transform-origin: left center;
    opacity: 0;
    will-change: transform,opacity;

  
}
 .body > p > span{
    font-family: BS-Regular;
    font-family: var(--font-f-para-300);
    font-size: 4.8vw;
    font-size: var(--font-s-h4);
    letter-spacing: 0;
    letter-spacing: var(--font-ls-h4);
    line-height: 6.4vw;
    line-height: var(--font-lh-h4);
}
 .list_item {
    line-height: 2.2222222222vw;
}
 .list_link {
    font-family: BS-Medium;
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
    position: relative;
  
  
}
 .link {
    font-family: BS-Medium;
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p);
    line-height: 5.6vw;
    line-height: var(--font-lh-p);
    position: relative;
  

    width: fit-content;
    
    height: fit-content;
}
 .list1 {
    grid-column: 8 / 10;
    margin-top: -3.8194444444vw;
   
}
 .list2 {
    grid-column: 10 / 12;
    margin-top: -3.8194444444vw;
   
}
 .link {
    grid-column: 1 / 6;

}


 .container {
    position: relative;
    margin: 0 8.3333333333vw;
    z-index:2;
}
.text_1,.text_2 {
    display:grid;
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
}
.intro {
    grid-column: 1 / 9;
    max-width: 56.8055555556vw;
    padding-top: 30.5555555556vw;
}
.body {
    grid-column: 1 / 8;
    margin-bottom: 9.51111111111vw;
}
@media (max-width:620px) {
    .hero_section   {
       
    }
    .list1,.list2 {
        display:none !important;
    }
    .title .tp {
        font-size: 4rem !important;
        line-height: 110% !important;
    }
     .background {
        background-size: auto 100% !important;
     }
    .intro {
       
        padding-top: 50vh;
        max-width: 100% !important;
    }
    .body , .intro {
        grid-column: 1 / 13!important;
    }
    .ip,.body span {
        font-size: 4.8000123vw !important;
        line-height: 110% !important;
    }

   
    .list1 {
        display:none !important;
    }

    .list_link *{
        font-size: 3rem !important;
    }
}

