.aboutus_minded {
    padding: 21.3333333333vw 0 0;
}
.aboutus_minded .container {
   
    position: relative;
}
.aboutus_minded .icon {
    height: .8333333333vw;
    transform: translate(-1.4930555556vw, .7638888889vw);
    width: .8333333333vw;
    will-change: transform;
}
.aboutus_minded .label {
    color: #0d0e13;
    color: var(--color-dark-grey);
    display: inline-flex;
    font-family: Lausanne-400;
    font-family: var(--font-f-lausanne-400);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    height: 7.7333333333vw;
    justify-self: flex-start;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    padding-left: 5.8666666667vw;
    position: relative;
}
.aboutus_minded .title  {

    margin: 10.6666666667vw 0 6.9333333333vw;
}
.aboutus_minded .title .title_line{
    font-weight:300;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 16vw;
    font-size: var(--font-s-h1);
    letter-spacing: -.4vw;
    letter-spacing: var(--font-ls-h1);
    line-height: 16vw;
    line-height: var(--font-lh-h1);
}
.aboutus_minded .title .title-mask {
    height: 15.2vw;
    line-height: 12vw;
}
.aboutus_minded .body p {
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 4.8vw;
    font-size: var(--font-s-h4);
    letter-spacing: 0;
    letter-spacing: var(--font-ls-h4);
    line-height: 6.4vw;
    line-height: var(--font-lh-h4);
}
.aboutus_minded .body p:last-child {
    margin: 8vw 0 21.3333333333vw;
}
.aboutus_minded .quote {
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.2vw;
    font-size: var(--font-s-subtitle);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-subtitle);
    line-height: 4.2666666667vw;
    line-height: var(--font-lh-subtitle);
}
/* image */
.aboutus_minded .image {
    height: 66.9333333333vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.aboutus_minded .background {
    bottom: 0;
    overflow: hidden;
}
.aboutus_minded .background, .dark {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.aboutus_minded .dark {
    bottom: 66.9333333333vw;
}
.aboutus_minded .light {
    bottom: -2px;
    height: 66.9333333333vw;
    left: 0;
    position: absolute;
    right: 0;
}
@media (min-width: 601px) {
     .aboutus_minded  {
        padding: 0 0 0 0;
    }
     .aboutus_minded .container {
        display: grid;
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 8.3333333333vw;
        margin-bottom: 10.4166666667vw;
    }
     .aboutus_minded .label {
        position: absolute;
        top:33.8097222vw;
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;
    }
     .aboutus_minded .title {
        grid-column: 4 / 13;
        margin: 0 0 4.0277777778vw;
        order: 2;
    }
    .aboutus_minded .title .title_line{
        font-size:8.6vw !important;
    }
     .aboutus_minded .title .title-mask {
        height: 10.0694444444vw;
        line-height: 7.6388888889vw;
    }
     .aboutus_minded .body {
        grid-column: 4 / 9;
        order: 3;
    }
     .aboutus_minded .body p:last-child {
        margin: 2.0833333333vw 0 0;
    }
     .aboutus_minded .quote {
        align-self: flex-end;
        border-top: 1px solid rgba(13, 14, 19, .2);
        border-top: 1px solid var(--color-dark-grey-02);
        grid-column: 10 / 12;
        order: 4;
        padding-top: 1.3888888889vw;
    }
    /* image */
     .aboutus_minded .image {
        height: 55.5555555556vw;
        width: 100%;
    }
    /* background nhỏ phía dưới */
     .aboutus_minded .dark {
        bottom: 18.75vw;
    }
     .aboutus_minded .light {
        background: #0d0e13;
        background: var(--color-dark-grey);
        height: 18.75vw;
    }
}