 .aboutus_minded{

    background-color: white;
}
 .container {
   
    position: relative;
}
 .icon {
  height: 3.2vw;
  position: absolute;
  transform: translate(-5.3333333333vw, 2.1333333333vw);
  width: 3.2vw;
  z-index: 1;
}
 .label {
    color: #0d0e13;
    color: var(--color-dark-grey);
    display: inline-flex;
    font-family: "BD-Medium";
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    height: 7.7333333333vw;
    justify-self: flex-start;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    padding-left: 5.8666666667vw;
    position: relative;
}
 .title  {
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
  font-size: 16vw;
  font-size: var(--font-s-h1);
  letter-spacing: -.4vw;
  letter-spacing: var(--font-ls-h1);
  line-height: 16vw;
  line-height: var(--font-lh-h1);
  margin: 10.6666666667vw 0 6.9333333333vw;
}
 .title .title_line{
 
}
.title_mask {
 
}
 .body p {
  font-family: "BS-Medium";
    font-size: 4.8vw;
    font-size: var(--font-s-h4);
    letter-spacing: 0;
    letter-spacing: var(--font-ls-h4);
    line-height: 6.4vw;
    line-height: var(--font-lh-h4);
}
 .body p:last-child {
    margin: 8vw 0 21.3333333333vw;
}


.text {
  display: flex;
  position: relative;
  transform-origin: top left;
  z-index: 1;
}

 .quote {
  font-family: "BS-Medium";
    font-size: 3.2vw;
    font-size: var(--font-s-subtitle);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-subtitle);
    line-height: 4.2666666667vw;
    line-height: var(--font-lh-subtitle);
}
/* image */
  .imgBox {
    position: relative;
    height: fit-content;
    
  }
 .image {
    height: 50.923487vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
   clip-path: polygon(6.68% 0%, 93.32% 0%, 93.32% 100%, 6.68% 100%);
    will-change: transform;
}
.w_img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1);
  will-change: transform;
}
 .background {
  top:0;
  left:0;
  right:0;
    bottom: 0;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    position: absolute;
    height: 100%;
}
 .background .dark {
    left: 0;
    position: absolute;
    right: 0;
 
    height: 50%;
    bottom :0;
    background: #0d0e13;
}

.background .light {
  left: 0;
  position: absolute;
  right: 0;

  height: 50%;
  top :0;
}
@media (max-width: 601px) {
  .aboutus_minded {
    padding: 21.3333333333vw 0 0;
  }
  .container {
    margin: 0 8vw !important;
  }
  .quote {
    display: none !important;
  }
  .image {
    height: 72vh !important;
  }
  .imgBox img {
    width: auto!important;
    height: 100% !important;
  }
}
@media (min-width: 601px) {
   
      .container {
        display: grid;
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 8.3333333333vw;
        margin-bottom: 10.4166666667vw;
    }
      .label {
        position: absolute;
        top:16.1097222vw;
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;
    }
      .title {
        grid-column: 4 / 13;
        margin: 0 0 4.0277777778vw;
        order: 2;
    }
  .icon {
    height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
  }
      .body {
        grid-column: 4 / 9;
        order: 3;
    }
      .body p:last-child {
        margin: 2.0833333333vw 0 0;
    }
      .quote {
        align-self: flex-end;
        border-top: 1px solid rgba(13, 14, 19, .2);
        border-top: 1px solid var(--color-dark-grey-02);
        grid-column: 10 / 12;
        order: 4;
        padding-top: 1.3888888889vw;
    }
    /* image */
      .image {
        height: 55.5555555556vw;
        width: 100%;
    }
    /* background nhỏ phía dưới */
      /* .dark {
        bottom: 18.75vw;
    }
      .light {
        background: #0d0e13;
        background: var(--color-dark-grey);
        height: 18.75vw;
    } */
}