
.partners_section .container {
    display:grid;
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 8.3333333333vw;
}
.partners_section .title {
    margin: 0 0 6.4vw;
}
.partners_section .title.is-normal .title_line{
    font-weight: 300;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 16vw;
    font-size: var(--font-s-h1);
    letter-spacing: -.4vw;
    letter-spacing: var(--font-ls-h1);
    line-height: 16vw;
    line-height: var(--font-lh-h1);
  
}


.partners_section .dif{
    position:relative;
    width:100vw;
    background:var(--black);
    height:20vw;
    margin-top: 3vw;
}

.partners_section .label {
    color: #0d0e13;
    color: var(--color-dark-grey);
    display: inline-flex;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);
    height: 7.7333333333vw;
    justify-self: flex-start;
    letter-spacing: 0;
    letter-spacing: var(--font-ls-label);
    line-height: 3.7333333333vw;
    line-height: var(--font-lh-label);
    line-height: 8.2666666667vw;
    padding-left: 5.8666666667vw;
    position: relative;
}

.partners_section .label > .text {
    font-weight:600;
    font-family: Lausanne-300;
    font-family: var(--font-f-lausanne-300);
    font-size: 3.7333333333vw;
    font-size: var(--font-s-label);

}

.partners_section .icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}
.partners_section .label .text {
    display: flex;
    position: relative;
    transform-origin: top left;
    z-index: 1;
}


@media (min-width: 601px) {
    .has-padding-bottom {
        padding-bottom: 10.4166666667vw;
    }
    .partners_section .title.is-normal {
        margin: 0 0 1.6666666667vw;
    }
    .partners_section  .title {
        grid-column: 4 / 13;
    }
    .partners_section .label {
        height: 2.3611111111vw;
        line-height: 2.5694444444vw;
        padding-left: 1.5277777778vw;
    }
    .partners_section .label {
        grid-column: 2 / 4;
    }
    .partners_section .body {
        grid-column: 4 / 8;
    }
    .partners_section .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
}